AndroidNDK/AndroidNkdSandBox/.gradle/2.14.1/
AndroidNDK/AndroidNkdSandBox/audiolib/build/
AndroidNDK/AndroidNkdSandBox/app/build/
AndroidNDK/AndroidNkdSandBox/build/
*.jar
AndroidNDK/AndroidNkdSandBox/gradle.properties
AndroidNDK/AndroidNkdSandBox/gradlew
AndroidNDK/AndroidNkdSandBox/gradlew.bat
*.iml
AndroidNDK/AndroidNkdSandBox/.idea/
AndroidNDK/AndroidNkdSandBox/local.properties
AndroidNDK/AndroidNkdSandBox/.gradle/3.3/
